FUNCTIONS
hid_t H5Fcreate(const char * name, unsigned flags, hid_t fcpl_id, hid_t fapl_id): H5Fcreate_mywrap
hid_t H5Fopen( const char *name, unsigned flags, hid_t fapl_id ): H5Fopen_mywrap
herr_t H5Fclose( hid_t file_id ): H5Fclose_mywrap
USER_WRAP_FILE
h5_wrap
LIBRARY
hdf5
LOG_ATEXIT
log_atexit
LOG_MPI_FINALIZE
mpi_finalize_cb
INCLUDE_HEADERS
hdf5.h
LIBRARIES_IN_MAKE
-L$(HOME)/Libwrap/dockers/shared/  -l rabbitmq -l jansson -l ssl -l crypto -l dl 
INCLUDES_IN_MAKE
-I /usr/include -I /usr/common/software/rabbitmq/0.9.0/install/include -I$(HOME)/projectcode/jansson-2.12/install/include 
STATIC_LIBRARIES
../dockers/static/libssl.a
../dockers/static/libcrypto.a
../LibWrap/dockers/static/librabbitmq.a
../LibWrap/dockers/static/libjansson.a
../LibWrap/dockers/static/libhdf5_parallel.a
../LibWrap/dockers/static/libhdf5_intel.a
../LibWrap/dockers/static/libgotcha.a
OUTPUT_DIR
../mywrapper
