FUNCTIONS
#File APIs
hid_t H5Fcreate(const char *name, unsigned flags, hid_t fcpl_id, hid_t fapl_id): H5Fcreate_mywrap
hid_t H5Fopen( const char *name, unsigned flags, hid_t fapl_id ): H5Fopen_mywrap
herr_t H5Fclose(hid_t file_id): H5Fclose_mywrap
#Attribute APIs
hid_t H5Acreate2(hid_t loc_id, const char *attr_name, hid_t type_id, hid_t space_id, hid_t acpl_id, hid_t aapl_id): H5Acreate2_mywrap
hid_t H5Aopen(hid_t obj_id, const char *attr_name, hid_t aapl_id): H5Aopen_mywrap 
herr_t H5Awrite(hid_t attr_id, hid_t mem_type_id, const void *buf): H5Awrite_mywrap
herr_t H5Aread(hid_t attr_id, hid_t mem_type_id, void *buf): H5Aread_mywrap
herr_t H5Aclose(hid_t attr_id): H5Aclose_mywrap
#Dataset APIs
hid_t H5Dcreate2(hid_t loc_id, const char *name, hid_t dtype_id, hid_t space_id, hid_t lcpl_id, hid_t dcpl_id, hid_t dapl_id): H5Dcreate2_mywrap
hid_t H5Dopen2(hid_t loc_id, const char *name, hid_t dapl_id): H5Dopen2_mywrap
herr_t H5Dwrite(hid_t dataset_id, hid_t mem_type_id, hid_t mem_space_id, hid_t file_space_id, hid_t xfer_plist_id, const void *buf): H5Dwrite_mywrap
herr_t H5Dread(hid_t dataset_id, hid_t mem_type_id, hid_t mem_space_id, hid_t file_space_id, hid_t xfer_plist_id, void *buf): H5Dread_mywrap
herr_t H5Dclose(hid_t dataset_id): H5Dclose_mywrap
#Group APIs
hid_t H5Gcreate2(hid_t loc_id, const char *name, hid_t lcpl_id, hid_t gcpl_id, hid_t gapl_id): H5Gcreate2_mywrap
hid_t H5Gopen2(hid_t loc_id, const char *name, hid_t gapl_id): H5Gopen2_mywrap
herr_t H5Gclose(hid_t group_id): H5Gclose_mywrap
#POSIX
ssize_t write(int fd, const void *buf, size_t count): write_mywrap
ssize_t read(int fd, void *buf, size_t count): read_mywrap
USER_WRAP_FILE
h5_wrap
LIBRARY
hdf5
LOG_ATEXIT
log_atexit
LOG_MPI_FINALIZE
mpi_finalize_cb
INCLUDE_HEADERS
hdf5.h
#Because the default version of rabbitmq on cori is inconsistent with the ssl you need to explicity
#preload rabbitmq library path using export LD_LIBRARY_PATH=/usr/common/software/rabbitmq/0.9.0/lib64
#:$LD_LIBRARY_PATH
LIBRARIES_IN_MAKE
-L$(HOME)/projectcode/jansson-2.12/install/lib -L/global/common/cori/software/openssl/1.1.0a/hsw/lib -l rabbitmq -l jansson -l ssl -l crypto -l dl 
INCLUDES_IN_MAKE
-I /usr/include -I /usr/common/software/rabbitmq/0.9.0/install/include -I$(HOME)/projectcode/jansson-2.12/install/include 
OUTPUT_DIR
../mywrapper
