MODE
both
FUNCTIONS
hid_t H5Fcreate(const char * name, unsigned flags, hid_t fcpl_id, hid_t fapl_id): H5Fcreate_mywrap
hid_t H5Fopen( const char *name, unsigned flags, hid_t fapl_id ): H5Fopen_mywrap
herr_t H5Fclose( hid_t file_id ): H5Fclose_mywrap
USER_WRAP_FILE
h5_wrap
LIBRARY
hdf5
LOG_ATEXIT
log_atexit
LOG_MPI_FINALIZE
mpi_finalize_cb
INCLUDE_HEADERS
hdf5.h
#Because the default version of rabbitmq on cori is inconsistent with the ssl you need to explicity
#preload rabbitmq library path using export LD_LIBRARY_PATH=/usr/common/software/rabbitmq/0.9.0/lib64
#:$LD_LIBRARY_PATH
LIBRARIES_IN_MAKE
-L$(HOME)/projectcode/jansson-2.12/install/lib -L/global/common/cori/software/rabbitmq/0.9.0/lib64 -l rabbitmq -l jansson -l ssl -l crypto -l dl 
INCLUDES_IN_MAKE
-I /usr/include -I /global/common/cori/software/rabbitmq/0.9.0/include -I$(HOME)/projectcode/jansson-2.12/install/include 
STATIC_LIBRARIES
/global/common/cori_cle6/software/openssl/1.1.0a/hsw/lib/libssl.a
/global/common/cori_cle6/software/jansson/2.12/lib/libjansson.a
/global/common/cori_cle6/software/rabbitmq/0.9.0/lib64/librabbitmq.a
/global/common/cori_cle6/software/gotcha/intel-install/lib64/libgotcha.a
/global/common/cori_cle6/software/openssl/1.1.0a/hsw/lib/libcrypto.a
/opt/cray/pe/hdf5-parallel/1.10.2.0/INTEL/16.0/lib/libhdf5_intel.a
/opt/cray/pe/hdf5-parallel/1.10.2.0/INTEL/16.0/lib/libhdf5_parallel.a
OUTPUT_DIR
../mywrapper
