FUNCTIONS
hid_t H5Fcreate(const char * name, unsigned flags, hid_t fcpl_id, hid_t fapl_id)
hid_t H5Fopen( const char *name, unsigned flags, hid_t fapl_id )
herr_t H5Fclose( hid_t file_id )
LOG_WRAP_FUNCTIONS
H5Fcreate_log
H5Fopen_log
H5Fclose_log
LIBRARY
hdf5
LOG_MPI_REDUCE
log_MPI_reduce()
LOG_MPI_FINALIZE
log_MPI_finalize()
MAKE_LOG
make_log()
INCLUDE_HEADERS
hdf5.h
LOG_FILE
log

