FUNCTIONS
int MPI_File_close (MPI_File * fh)
int MPI_File_set_size (MPI_File fh, MPI_Offset size)
int MPI_File_iread_at (MPI_File fh, MPI_Offset offset, void *buf, int count, MPI_Datatype datatype, MPI_Request *request)
int MPI_File_iread (MPI_File fh, void *buf, int count, MPI_Datatype datatype, MPI_Request *request)
LIBRARY
mpi
LOG_MPI_REDUCE
log_MPI_reduce()
LOG_MPI_FINALIZE
log_MPI_finalize()
MAKE_LOG
make_log()
FILE
log
