FUNCTIONS
ssize_t write(int fd, const void *buf, size_t count): write_mywrap
ssize_t read(int fd, void *buf, size_t count): read_mywrap
USER_WRAP_FILE
posix_wrap
LOG_ATEXIT
log_atexit
LIBRARIES_IN_MAKE
-L$(HOME)/projectcode/jansson-2.12/install/lib -L/global/common/cori/software/openssl/1.1.0a/hsw/lib -l rabbitmq -l jansson -l ssl -l crypto -l dl 
INCLUDES_IN_MAKE
-I /usr/include -I /usr/common/software/rabbitmq/0.9.0/install/include -I$(HOME)/projectcode/jansson-2.12/install/include 
