MODE
both
FUNCTIONS
ssize_t write(int fd, const void *buf, size_t count): write_mywrap
ssize_t read(int fd, void *buf, size_t count): read_mywrap
USER_WRAP_FILE
posix_wrap
LOG_ATEXIT
log_atexit
LIBRARIES_IN_MAKE
-L/global/common/cori_cle6/software/jansson/2.12/lib -L/global/common/cori_cle6/software/rabbitmq/0.9.0/lib64/ -l rabbitmq -l jansson -l ssl -l crypto -l dl 
INCLUDES_IN_MAKE
-I /usr/include -I /global/common/cori_cle6/software/rabbitmq/0.9.0/include -I/global/common/cori_cle6/software/jansson/2.12/include 
STATIC_LIBRARIES
/global/common/cori_cle6/software/openssl/1.1.0a/hsw/lib/libssl.a
/global/common/cori_cle6/software/jansson/2.12/lib/libjansson.a
/global/common/cori_cle6/software/rabbitmq/0.9.0/lib64/librabbitmq.a
/global/common/cori_cle6/software/gotcha/intel/1.0/lib64/libgotcha.a
/global/common/cori_cle6/software/openssl/1.1.0a/hsw/lib/libcrypto.a
/opt/cray/pe/hdf5-parallel/1.10.2.0/INTEL/16.0/lib/libhdf5_intel.a
/opt/cray/pe/hdf5-parallel/1.10.2.0/INTEL/16.0/lib/libhdf5_parallel.a

OUTPUT_DIR
../mywrapper
